<app-return-arrow class="cursor-pointer" (click)="returnPage()"></app-return-arrow>
<body class="font-sans m-0 p-0 box-border">
    <header class="w-[1300px] h-[180px] mt-4 bg-gray-200 flex justify-end items-center bg-[url('/assets/images/baron-header-img-removebg-preview.png'),url('/assets/images/ISO-removebg-preview.png')] bg-no-repeat bg-[position:left_top,center]">
        <div class="flex flex-col text-right mr-4">
            <p>CNPJ 10.633.565/0001-60 - Insc. Est. 637161884113</p>
            <p>Telefone: (16) 3378-0335</p>
            <p>Rua Bela Cintra, 999 - CEP.: 13.578-000</p>
            <p>Centro - Água Vermelha, São Carlos - SP</p>
        </div>
    </header>

  <div class="text-lg font-medium">
    <p>Proposta comercial nº: </p>
  </div>

  <!-- Separar a div em duas partes na vertical -->
  <div class="flex flex-col md:flex-row gap-4">
    <!-- Essa parte ocupa uns 60% -->
    <div class="md:w-3/5">
      <p class="font-medium">Vendedor: {{vendedorResponsavel}}</p>
      <p class="font-medium">Revisão: </p>
      <h3 class="text-xl font-medium">Dados do cliente: </h3>
      <p>CNPJ: {{cnpj}}</p>
      <p>Razão Social: {{razaoSocial}}</p>
      <p class="w-[300px] break-words">Endereço: {{endereco}}, {{endereco_numero}}, {{bairro}}, {{estado}}, {{cidade}}</p> <!-- Width fixo e quebra de linha -->
    </div>

    <div class="md:w-2/5">
      <p>A/C: {{nomeContato}}</p>
      <p>Fone: {{telefoneContato | telefone}}</p>
      <p>E-mail: {{emailContato}}</p>
    </div>
  </div>

  <!-- Centralizado, background cinza, altura fixa -->
  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mb-2">
    <p class="font-medium">Produto(s)</p>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2 w-[2%]">Item</th>
          <th class="px-4 py-2 w-[22%]">Descrição</th>
          <th class="px-4 py-2 w-[3%]">Qtd</th>
          <th class="px-4 py-2 w-[3%]">Un</th>
          <th class="px-4 py-2 w-[10%]">Preço Unit</th>
          <th class="px-4 py-2 w-[8%]">Total sem IPI</th>
          <th class="px-4 py-2 w-[6%]">NCM</th>
          <th class="px-4 py-2 w-[4%]">Alíquota</th>
          <th class="px-4 py-2 w-[8%]">Total com IPI</th>
        </tr>
      </thead>
        <tbody class="text-xs">
            <tr *ngFor="let item of orcamentoRecebido?.itens; let i = index">
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ i + 1 }}</td>
                <td class="px-4 py-2 border-t border-gray-300">
                <span *ngIf="item.modelo">- {{ item.modelo }}</span>
                <small *ngIf="item.descricaoDetalhada"><br>{{ item.descricaoDetalhada }}</small>
                </td>
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ item.quantidade }}</td>
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ item.unidade || 'N/A' }}</td>
                <td class="px-15 py-2 border-t border-gray-300 text-center">{{ item.valorUnitario  | currency:'BRL':'':'1.2-2':'pt-BR'}}</td>
                
                <td class="px-4 py-2 border-t border-gray-300 text-center">
                {{ item.valorTotalItem | currency:'BRL':'':'1.2-2':'pt-BR' }}
                </td>
                
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ item.ncm || 'N/A' }}</td>
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ (item.aliquota -1 || 0) | percent: '1.2-2' }}</td>
                
                <td class="px-4 py-2 border-t border-gray-300 text-center">
                {{ item.valorTotalItemCIPI | currency:'BRL':'':'1.2-2':'pt-BR' }}
                </td>
            </tr>
            
            <tr *ngIf="!orcamentoRecebido?.itens || orcamentoRecebido?.itens!.length === 0">
                <td colspan="9" class="px-4 py-2 text-center border-t border-gray-300">Nenhum item adicionado ao orçamento.</td>
            </tr>
        </tbody>
    </table>
    <!-- Total dos produtos e total a pagar no canto inferior direito -->
    <div class="flex justify-end space-x-4 mt-4">
      <p>Total dos produtos: <span class="font-medium text-emerald-600">{{subtotalItens | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span></p>
      <p>Total a pagar: <span class="font-medium text-emerald-600">{{grandTotal | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span></p>
    </div>
  </div>

  <!-- Centralizado, background cinza, altura fixa -->
  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mt-2 mb-2">
    <p class="font-medium">Condições gerais de fornecimento</p>
  </div>

  <!-- Separar em 4 partes iguais, alinhadas horizontalmente -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div>
      <p>Data de envio da Proposta: </p>
      <p>Condição de pagamento: </p>
      <p>Prazo de entrega: </p>
    </div>
    <div class="supply-conditions-results">
      <p>{{ dataAtual | date:'dd/MM/yyyy' }}</p>
      <p>{{condicaoPagamento}}</p>
      <p>{{prazoEntrega}}</p>
    </div>
    <div>
      <p>Validade da proposta: </p>
      <p>Frete: </p>
    </div>
    <div>
      <p>15 dias</p>
      <p>{{tipoFrete}}</p>
    </div>
  </div>

  <!-- Centralizado, background cinza, altura fixa -->
  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mb-2">
    <p class="font-medium">Observações complementares</p>
  </div>

  <div class="mt-2">
    <p [innerHTML]="taxInformation"></p>
    <p>2- Informar a transportadora no ato do fechamento do pedido.</p>
    <p>3- Para pedidos de peças específicas conforme projetos do cliente, não aceitamos o cancelamento do pedido após o envio da ordem de compra ou na sua confirmação</p>
  </div>

  <!-- Centralizado, background cinza, altura fixa -->
  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mt-2">
    <p class="font-medium">Condições gerais de venda</p>
  </div>

  <!-- Separar em metades de 50% verticalmente -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2 text-[10px]">
    <div>
      <p>{{CONDICOES_GERAL_VENDA_PART1}}</p>
    </div>
    <div>
      <p>{{CONDICOES_GERAL_VENDA_PART2}}</p>
    </div>
  </div>
</body>