header {
    width: 100%;
    height: 120px;
    /* background-image: url(../../../assets/images/baron-header-img-removebg-preview.png), url(../../../assets/images/ISO-removebg-preview.png);
    background-position: left top, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 500px, 200px; */
    margin-bottom: 1rem;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .no-print, .print\\:hidden {
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .no-print, .print\:hidden {
    display: none !important;
  }

  #condicoes-venda-tabelas {
    display: flex !important;
    flex-direction: row !important;
    gap: 2rem !important;
  }
  #condicoes-venda-tabelas > div {
    flex: 1 1 auto !important;
    page-break-inside: avoid;
  }

  #condicoes-venda-tabelas table {
    width: 90% !important;
    table-layout: auto !important;
    margin: 0 !important;
    border-collapse: collapse !important;
    font-size: 9px !important;
    text-align: center !important;
  }

  #condicoes-venda-tabelas table thead {
    background-color: #F3F4F6 !important;
  }

  #condicoes-venda-tabelas table th,
  #condicoes-venda-tabelas table td {
    border: 1px solid #9CA3AF !important;
    padding: 1px 2px !important;
    vertical-align: middle !important;
  }

  #condicoes-venda-tabelas table {
    font-size: 8px !important;
  }
}
