<app-return-arrow class="cursor-pointer print:hidden" (click)="returnPage()"></app-return-arrow>
<div class="font-sans m-0 p-0 box-border">
    <header class="min-w-full h-[120px] flex items-center mb-4 bg-gray-200">
      <div class="w-1/3">
          <img src="assets/images/baron-header-img-removebg-preview.png" alt="Logo Baron" class="w-full max-w-[400px] object-contain">
      </div>

      <div class="w-1/3 flex justify-center items-center gap-x-2">
          <img src="assets/images/ISO-removebg-preview.png" alt="Selo SGS" class="h-[100px] object-contain" id="isoImage">
      </div>

      <div class="w-1/3">
          <div class="flex flex-col text-right text-[10px] leading-tight">
              <p class="font-bold">Baron S.A.</p>
              <p>CNPJ 10.633.565/0001-60 - Insc. Est. 637161884113</p>
              <p>Telefone: (16) 3378-0335</p>
              <p>Rua Bela Cintra, 999 - CEP.: 13.578-000</p>
              <p>Centro - Água Vermelha, São Carlos - SP</p>
          </div>
      </div>
    </header>

  <div class="text-lg font-medium">
    <p>Proposta comercial nº: {{ proposta }}</p>
  </div>

  <div class="flex flex-col md:flex-row gap-4">
    <div class="md:w-3/5">
      <p class="font-medium">Vendedor: {{ userLogado }}</p>
      <p class="font-medium">Revisão: </p>
      <h3 class="text-xl font-medium">Dados do cliente: </h3>
      <p>CNPJ: {{cnpj}}</p>
      <p>Razão Social: {{razaoSocial}}</p>
      <p class="w-[300px] break-words">Endereço: {{ endereco }}, {{ endereco_numero }}, {{ bairro }}, {{ estado }}, {{ cidade }}</p> 
    </div>

    <div class="md:w-2/5">
      <p>A/C: {{ nomeContato }}</p>
      <p>Fone: {{ telefoneContato | telefone}}</p>
      <p>E-mail: {{ emailContato }}</p>
    </div>
  </div>

  <div class="flex justify-end items-end mt-2 text-sm">
    <p>
      <span class="font-bold">{{ valorKg | currency:'BRL':'':'1.0-0' }}/</span>
    </p>
    <p>
      <span class="font-bold">{{ pesoTotal | number:'1.0-0' }}/</span>
    </p>
    <p>
      <span class="font-bold">{{ valorDoFrete | number:'1.0-0' }}</span>
    </p>
  </div>

  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mb-2">
    <p class="font-medium">Produto(s)</p>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2 w-[2%]">Item</th>
          <th class="px-4 py-2 w-[22%]">Descrição</th>
          <th class="px-4 py-2 w-[3%]">Qtd</th>
          <th class="px-4 py-2 w-[3%]">Un</th>
          <th class="px-4 py-2 w-[10%]">Preço Unit</th>
          <th class="px-4 py-2 w-[8%]">Total sem IPI</th>
          <th class="px-4 py-2 w-[6%]">NCM</th>
          <th class="px-4 py-2 w-[4%]">Alíquota</th>
          <th class="px-4 py-2 w-[8%]">Total com IPI</th>
        </tr>
      </thead>
        <tbody class="text-xs">
            <tr *ngFor="let item of orcamentoRecebido?.itens; let i = index">
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ i + 1 }}</td>
                <td class="px-4 py-2 border-t border-gray-300">
                <span *ngIf="item.modelo || (item.produto === 'Revestimento' && (item.quantidadeConjuntos ?? 1) > 1)">
                    {{ getDescricaoPrincipalParaItem(item) }}
                </span>
                <small *ngIf="getDescricaoDetalhadaParaPdf(item) as descDetalhada">
                    <br>{{ descDetalhada }}
                </small>
                </td>
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ getQuantidadeDisplay(item) }}</td>
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ determinarUnidadeParaItem(item) || 'N/A' }}</td>
                <td class="px-15 py-2 border-t border-gray-300 text-center">{{ item.valorUnitario  | currency:'BRL':'':'1.2-2':'pt-BR'}}</td>
                
                <td class="px-4 py-2 border-t border-gray-300 text-center">
                {{ item.valorTotalItem | currency:'BRL':'':'1.2-2':'pt-BR' }}
                </td>
                
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ item.ncm || 'N/A' }}</td>
                <td class="px-4 py-2 border-t border-gray-300 text-center">{{ (item.aliquota -1 || 0) | percent: '1.2-2' }}</td>
                
                <td class="px-4 py-2 border-t border-gray-300 text-center">
                {{ item.valorTotalItemCIPI | currency:'BRL':'':'1.2-2':'pt-BR' }}
                </td>
            </tr>
            
            <tr *ngIf="!orcamentoRecebido?.itens || orcamentoRecebido?.itens!.length === 0">
                <td colspan="9" class="px-4 py-2 text-center border-t border-gray-300">Nenhum item adicionado ao orçamento.</td>
            </tr>
        </tbody>
    </table>
    <div class="flex justify-end space-x-4 mt-4">
      <p>Total dos produtos: <span class="font-bold text-black text-xl">{{ subtotalItens | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span></p>
      <p>Total a pagar: <span class="font-bold text-shadow-black text-xl">{{ grandTotal | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span></p>
    </div>
  </div>

  <div class="bg-gray-200 text-center mb-4">
    <p class="font-medium">Descrição</p>
  </div>
  <p>{{ orcamentoRecebido?.descricao }}</p> 

  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mt-2 mb-2">
    <p class="font-medium">Condições gerais de fornecimento</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div>
      <p>Data de envio da Proposta: </p>
      <p>Condição de pagamento: </p>
      <p>Prazo de entrega: </p>
    </div>
    <div class="supply-conditions-results">
      <p>{{ dataAtual | date:'dd/MM/yyyy' }}</p>
      <p>{{ condicaoPagamento }}</p>
      <p>{{ prazoEntrega }}</p>
    </div>
    <div>
      <p>Validade da proposta: </p>
      <p>Frete: </p>
    </div>
    <div>
      <p>15 dias</p>
      <p>{{ tipoFrete }}</p>
    </div>
  </div>

  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mb-2">
    <p class="font-medium">Observações complementares</p>
  </div>

  <div class="mt-2">
    <p [innerHTML]="taxInformation"></p>
    <p>2- Informar a transportadora no ato do fechamento do pedido.</p>
    <p>3- Para pedidos de peças específicas conforme projetos do cliente, não aceitamos o cancelamento do pedido após o envio da ordem de compra ou na sua confirmação</p>
  </div>

  <div class="bg-gray-200 text-center py-2 h-[20px] flex items-center justify-center mt-2">
    <p class="font-medium">Condições gerais de venda</p>
  </div>

  <div class="mt-2 text-[9px]">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
      <div>
        <p>{{CONDICOES_GERAL_VENDA_PART1}}</p>
      </div>
      <div>
        <p>{{CONDICOES_GERAL_VENDA_PART2}}</p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 mt-4" id="condicoes-venda-tabelas">
      
      <div>
        <p class="text-center font-bold text-[9px] print:font-bold">Tabela 1 - Afastamentos admissíveis para dimensões lineares</p>
        <p class="text-center text-[7px] mb-1">(raios externos e altura de chanfros, ver tabela 2)</p>
        <table class="mx-auto border-collapse border border-gray-400 text-center text-[9px] print:border-collapse print:border print:border-gray-400">
          <thead class="bg-gray-100 print:bg-gray-100">
            <tr class="font-light">
              <th class="border border-gray-400 px-2 print:border print:border-gray-400 print:px-2" colspan="2">Classe de tolerância</th>
              <th class="border border-gray-400 px-2 print:border print:border-gray-400 print:px-2" colspan="8">Afastamentos admissíveis (mm)</th>
            </tr>
            <tr class="font-light">
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">Desig.</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">Descrição</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">até 3</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>3-6</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>6-30</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>30-120</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>120-400</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>400-1k</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>1k-2k</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">>2k-4k</th>
            </tr>
          </thead>
          <tbody>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">f</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">fino</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,05</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,05</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,1</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,15</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,2</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,3</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,5</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">-</td></tr>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">m</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">médio</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,1</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,1</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,2</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,3</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,5</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,8</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 1,2</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 2</td></tr>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">c</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">grosso</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,2</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,3</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,5</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,8</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 1,2</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 2</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 3</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 4</td></tr>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">v</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">muito grosso</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">-</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 0,5</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 1</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 1,5</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 2,5</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 4</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 6</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">± 8</td></tr>
          </tbody>
        </table>
        <p class="text-[7px] text-center mt-1">1) Para dimensões nominais abaixo de 0,5 mm, o afastamento deve ser indicado junto à dimensão nominal correspondente.</p>
        <p class="text-[7px] text-center mt-1">2) Peças usinadas din 2768</p>
      </div>

      <div>
        <p class="text-center font-bold text-[9px] print:font-bold">Tabela 2 - Limites de tolerâncias de espessuras - 14.922</p>
        <p class="text-center text-[7px] mb-1">Dimensões em milímetros</p>
        <table class="mx-auto border-collapse border border-gray-400 text-center text-[9px] print:border-collapse print:border print:border-gray-400">
          <thead class="bg-gray-100 print:bg-gray-100">
            <tr class="font-light">
              <th class="border border-gray-400 align-middle px-2 print:border print:border-gray-400 print:px-2" rowspan="2">Classes de<br>tolerâncias</th>
              <th class="border border-gray-400 px-2 print:border print:border-gray-400 print:px-2" colspan="7">Espessura nominal</th>
            </tr>
            <tr class="font-light">
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">Até 20</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">21 a 40</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">41 a 60</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">61 a 80</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">81 a 100</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">101 a 120</th>
              <th class="border border-gray-400 px-1 print:border print:border-gray-400 print:px-1">121 a 150</th>
            </tr>
          </thead>
          <tbody>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">I</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">+ 1,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 1,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 1,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 1,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 1,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 1,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 1,0<br>0</td></tr>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">J</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">+ 1,5<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 2,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 3,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 4,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 5,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 6,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 7,0<br>0</td></tr>
            <tr><td class="border border-gray-400 font-bold print:border print:border-gray-400 print:font-bold">K</td><td class="border border-gray-400 p-1 print:border print:border-gray-400 print:p-1">+ 3,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 5,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 6,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 8,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 10,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 12,0<br>0</td><td class="border border-gray-400 print:border print:border-gray-400">+ 14,0<br>0</td></tr>
          </tbody>
        </table>
        <p class="text-[7px] text-center mt-1">1) Semi acabadados</p> 
      </div>
    </div>
  </div>

  <section *ngIf="orcamentoRecebido?.anexos && orcamentoRecebido?.anexos!.length > 0" class="mt-4 break-before-page">
    <div class="bg-gray-200 text-center py-2 mb-4">
      <p class="font-medium">Anexos</p>
    </div>
    <div class="grid grid-cols-2 gap-8">
      <div *ngFor="let anexo of orcamentoRecebido?.anexos">
        <div class="w-full aspect-[4/4] border border-gray-300 p-2 flex">
          <div class="flex-1 min-h-0">
            <img 
              [src]="anexo.url" 
              [alt]="anexo.nome" 
              class="w-full h-full object-contain">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="mt-8 mb-4 flex justify-center print:hidden">
    <button 
      (click)="printPage()" 
      [disabled]="!isDataLoaded" 
      class="flex items-center justify-center px-6 py-2 bg-blue-400 text-white font-bold rounded-lg shadow-md hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75 transition-colors disabled:opacity-50 disabled:cursor-not-allowed">
      
      Imprimir Proposta
    </button>
  </div>
</div>