<div class="flex justify-end space-x-4">
    <!-- <button
      type="button"
      (click)="onCancel()"
      class="inline-flex items-center px-4 py-2 border border-gray-300 rounded
             text-gray-700 hover:bg-gray-100 transition"
    >
      Cancelar
    </button> -->

    <button
      type="submit"
      (click)="onSaveClick()"
      class="inline-flex items-center bg-blue-600 text-white px-4 py-2 rounded
             hover:bg-blue-700 transition"
    >
      <lucide-icon name="save" class="h-5 w-5 mr-2" />
      Salvar
    </button>
</div>