<div class="w-full max-w-7xl mx-auto">
  <header class="flex items-center py-4">
    <i-lucide name="square-function" class="h-8 w-8 text-slate-500 mr-4"></i-lucide>
    <h1 class="text-4xl font-medium">Figuras Geométricas</h1>
  </header>

  <div class="mt-4 bg-white rounded-lg shadow">
    <div class="border-b border-gray-200">
        <nav class="-mb-px flex space-x-6 px-6" aria-label="Tabs">
            <a 
                *ngFor="let item of navigationItems"
                [routerLink]="item.path"
                routerLinkActive="!border-blue-500 !text-blue-600"
                class="flex items-center whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm transition-colors focus:outline-none border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300">
                
                <i-lucide [name]="item.icon" class="mr-2 h-5 w-5"></i-lucide>
                {{ item.label }}
            </a>
        </nav>
    </div>

    <div class="p-2 md:p-4">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>