@media print {
  body {
    background: white !important;
    color: black !important;
  }

  img {
    max-width: 100% !important;
    height: auto !important;
  }

  header, section {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  a {
    color: black !important;
    text-decoration: none !important;
  }
}
